<h3>Szczur i kot</h3>

<p>
&bdquo;Mnie to kadzą&rdquo; &mdash; rzekł hardzie do swego rodzeństwa<br />
Siedząc szczur na ołtarzu podczas nabożeństwa.<br />
Wtem, gdy się dymem kadzidł zbytecznych zakrztusił,<br />
Wpadł kot z boku na niego, porwał i udusił.
</p>