div.chat {
    min-width: 410px;
}

div.chat ul {
    padding: 0;
    height: 290px;
    overflow-y: auto;
    font-family: monospace;
}

div.chat li {
    list-style-type: none;
    border-bottom: 1px solid lavender;
    padding: 10px;
}

div.chat form textarea {
    width: 100%;
    max-width: 100%;
    paddin: 10px;
    box-sizing: border-box;
}

div.chat form button {
    float: right;
}