<h3>Kulawy i ślepy</h3>

<p>
Niósł ślepy kulawego, dobrze im się działo;<br />
Ale że to ślepemu nieznośne się zdało,<br />
Iż musiał zawżdy słuchać, co kulawy prawi,<br />
Wziął kij w rękę: &bdquo;Ten &mdash; rzecze &mdash; z szwanku nos wybawi&rdquo;.<br />
Idą; a wtem kulawy krzyknie: &bdquo;Umknij w lewo!&rdquo;<br />
Ślepy wprost i, choć z kijem, uderzył łbem w drzewo.<br />
Idą dalej; kulawy przestrzega od wody &mdash;<br />
Ślepy w bród: sakwy zmaczał, nie wyszli bez szkody*<br />
Na koniec, przestrzeżony, gdy nie mijał dołu,<br />
I ślepy, i kulawy zginęli pospołu.<br />
I ten winien, co kijem bezpieczeństwo mierzył,<br />
I ten, co bezpieczeństwa głupiemu powierzył.
</p>