<h3>Orzeł i jastrząb</h3>

<p>
Orzeł, nie chcąc się podłym polowaniem bawić,<br />
Postanowił jastrzębia na wróble wyprawić.<br />
Przynosił jastrząb wróble, jadł je orzeł smacznie;<br />
Zaprawiony na koniec przysmaczkiem nieznacznie,<br />
Kiedy go coraz żywszy apetyt przenika &mdash;<br />
Zjadł ptaszka na śniadanie, na obiad ptasznika.
</p>