.element {
    width: 100px;
    background: #d6eaf3;
}
.top-left {
    background: url('top-left.png') no-repeat top left;
}
.top-right {
    background: url('top-right.png') no-repeat top right;
}
.bottom-left {
    background: url('bottom-left.png') no-repeat bottom left;
}
.bottom-right {
    background: url('bottom-right.png') no-repeat bottom right;
    padding: 10px;
}