body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
}

.czyszczenie {
    height: 0;
    clear: both;
}


#element {
    min-width: 960px;
    max-width: 1200px;
    margin: 20px auto;
    border: 1px solid #e5e5e5;
    background: white;
}

#tmpPojemnik {
    width: 100%;
    float: right;
    margin-left: -260px;
}

#kolumnaPlynna {
    margin-left: 260px;
}

#kolumnaStala {
    width: 260px;
    float: left;
}

#tytul {
    margin: 0;
    padding: 20px;
    height: 70px;
    text-align: right;
    position: relative;
}

    #tytul h1 {
        margin: 0;
        padding: 0;
        font-family: Courier New, monospace;
    }

    #tytul h2 {
        margin: 0;
        padding: 0;
        font-style: italic;
        font-family: Georgia, serif;
        font-size: 15px;
        font-weight: normal;
        margin-top: 10px;
    }

    #tytul .info-bestseller {
        position: absolute;
        width: 200px;
        height: 50px;
        top: 30px;
        left: 0;

    }

        #tytul .info-bestseller a {
            display: block;
            width: 190px;
            height: 50px;
            background: url('../images/ikony.png') no-repeat 0 -334px;
            display: none;
            color: white;
            text-decoration: none;
            font-size: 30px;
            line-height: 50px;
            padding-right: 10px;
            font-family: Courier New, monospace;
        }

        #tytul .info-bestseller a:hover {
            background: url('../images/ikony.png') no-repeat 0 -384px;
            font-weight: bold;
        }

        #tytul .info-bestseller strong {
            display: none;
        }


#helion {
    margin: 0;
    padding: 0;
    width: 260px;
    height: 110px;
}

    #helion a {
        display: block;
        width: 260px;
        height: 110px;
        text-indent: -2000em;
        background: url('../images/ikony.png') no-repeat 0 -450px;
        margin: 0 auto;
    }

#prawaStrona {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    min-height: 700px;
}

#stopka {
    text-align: center;
    font-size: 70%;
    padding: 8px;
}

    #stopka a {
        text-decoration: none;
        color: black;
    }

    #stopka a:hover {
        text-decoration: underline;
    }

#okladka {
    margin: 0;
    padding: 0;
    width: 260px;
    height: 210px;
    position: relative;
}

    #okladka a {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 150px;
        height: 210px;
    }

    #okladka .ikonki {
        list-style-type: none;
        position: absolute;
        top: 0;
        left: 10px;
        margin: 0;
        padding: 0;
        height: 100px;
        width: 24px;
    }


    #okladka .ikonki .i_home {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        position: absolute;
        width: 34px;
        height: 34px;
    }

    #okladka .ikonki .i_home a {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        width: 34px;
        height: 34px;
        font-size: 50%;
        text-indent: -2000em;
    }

    #okladka .ikonki .i_home a span {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        width: 34px;
        height: 34px;
        background: url('../images/ikony.png') -34px -674px no-repeat;
    }

    #okladka .ikonki .i_home a span:hover {
        background: url('../images/ikony.png') 0 -674px no-repeat;
    }

    #okladka .ikonki .i_helion {
        margin: 0;
        padding: 0;
        top: 40px;
        left: 0;
        position: absolute;
        width: 34px;
        height: 34px;
    }

    #okladka .ikonki .i_helion a {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        width: 34px;
        height: 34px;
        font-size: 50%;
        text-indent: -2000em;
    }

    #okladka .ikonki .i_helion a span {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        width: 34px;
        height: 34px;
        background: url('../images/ikony.png') -102px -674px no-repeat;
    }

    #okladka .ikonki .i_helion a span:hover {
        background: url('../images/ikony.png') -68px -674px no-repeat;
    }




#menuPionowe {
    font-size: 12px;
    line-height: 20px;
    margin: 40px 0 0 0;
    padding: 0;
    width: 260px;
    list-style-type: none;
    text-align: right;
    border-bottom: 2px solid #e5e5e5;
}

    #menuPionowe li {
        margin: 0;
        padding: 0;
        width: 260px;
        height: 24px;
    }

    #menuPionowe li a {
        display: block;
        margin: 0;
        width: 190px;
        height: 22px;
        padding: 2px 55px 2px 15px;
        border-top: 1px solid #e5e5e5;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
/*        font-weight: bold;*/
        letter-spacing: 0.1em;
        background: url('../images/ikony.png') 0px -560px no-repeat;
    }

    #menuPionowe .last a {
        padding-bottom: 0px;
    }


    #menuPionowe li a:hover {
        background: #eaeaea url('../images/ikony.png') 0px -584px no-repeat;
    }

#pojemnikMenuPoziome {
    border-bottom: 1px solid #e5e5e5;
}

#menuPoziome {
    font-size: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    #menuPoziome li {
        float: right;
        margin: 0;
        padding: 0;
    }

        #menuPoziome li a {
            display: block;
            margin: 0;
            padding: 2px  10px 2px 10px;
            text-decoration: none;
            border-left: 1px solid #e5e5e5;
            color: black;
            text-transform: uppercase;
/*            font-weight: bold; */
            letter-spacing: 0.1em;
        }
        #menuPoziome li a:hover {
            background: #eaeaea;
        }

#zawartosc {
    padding: 40px 40px;
    line-height: 200%;
}

#przewindotresci {
    display: none;
}