#popup {
    display: none;
    position: absolute;

    background: transparent;
    border: 2px solid black;
    text-align: center;
    z-index: 50;
}

#popup img {
    margin: 0;
    padding: 0;
    display: block;
    border: none;
}
