body {
    background: white;
    color: black;
}

a {
    background: white;
    color: black;
    text-decoration: none;
}

#menuPionowe {
    display: none;
}

#menuPoziome {
    display: none;
}

#pojemnikMenuPoziome {
    display: none;
}

#helion {
    display: none;
}

#okladka {
    display: none;
}

.przyklad {
    width: 110px;
    float: left;
    font-size: 60%;
    margin: 10px 2px 10px 2px;
    text-align: center;
    line-height: 150%;
}

.czyszczenie {
    height: 0;
    clear: both;
}
.wskaznik {
    display: none;
}
#przewindotresci {
    display: none;
}

.spistresci {
    list-style-type: none;
}

a[href="#top"] {
    display: none;
}

.ksiazka a {
    display: none;
}

.ksiazka {
    border-bottom: 4px solid black;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.ksiazka_element .przyciski {
    display: none;
}


#tytul .info-bestseller {
    display: none;
}

.reklama {
    display: none;
}

.metryka .przyciski {
    display: none;
}