img {
    border : none;
}

.wskaznik {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    width: 96px;
    height: 16px;
    background: url('../images/ikony.png') no-repeat 0 -434px;
    position: relative;
}

    .wskaznik li {
        width: 16px;
        height: 16px;
        position: absolute;
    }
        .wskaznik li a {
            display: block;
            width: 16px;
            height: 16px;
            text-indent: -2000em;
        }

    .wskaznik .first {
        left: 0;
        top: 0;
        background: url('../images/ikony.png') no-repeat -96px -434px;
    }
    .wskaznik .prev {
        left: 20px;
        top: 0;
        background: url('../images/ikony.png') no-repeat -112px -434px;
    }
    .wskaznik .index {
        left: 40px;
        top: 0;
    }
    .wskaznik .next {
        left: 60px;
        top: 0;
        background: url('../images/ikony.png') no-repeat -128px -434px;
    }
    .wskaznik .last {
        left: 80px;
        top: 0;
        background: url('../images/ikony.png') no-repeat -144px -434px;
    }

#dedykacja {
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    padding-top: 200px;
    font-size: 120%;
}

h5 {
    text-align: right;
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.1em;
}

.przyklad {
    width: 120px;
    height: 105px;
    float: left;
    font-size: 80%;
    margin: 0px 8px 8px 0px;
    text-align: center;
    line-height: 150%;
    border: 1px solid #d3d3d3;
    background: #fafafa;
    padding-top: 5px;
}

.przyklad:hover {
    border: 1px solid #909090;
    background: #f3f3f3;
}

.przyklad a img {
    border: 1px solid #eaeaea;
}

.przyklad a {
    text-decoration: none;
}

.przyklad a:hover {
    text-decoration: underline;
}


.variable, .filename {
    color: #032167;
    font-family: Courier New, monospace;
}

.spistresci {
    list-style-type: none;
}

.zobramowaniem {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.rysunek {
    text-align: center;
    padding-top: 40px;
}

.ksiazka_element {
    padding-bottom: 50px;
    margin-left: -20px;
    position: relative;
}

	.ksiazka_element .tmp {
	    width: 100%;
	    float: right;
	    margin-left: -150px;
	}

	.ksiazka_element .plynna {
	    margin-left: 150px;
	}

	.ksiazka_element .stala {
	    width: 150px;
	    float: left;
        text-align: center;
	}

    .ksiazka_element h1 {
        font-size: 90%;
        font-style: italic;
        font-family: Georgia, serif;
        font-weight: normal;
        margin-top: 0;
        padding-top: 0;
        letter-spacing: 0.2em;
    }
    .ksiazka_element h2 {
        font-size: 130%;
    }
    .ksiazka_element p {
        padding-top: 20px;
        font-size: 90%;
    }

    .ksiazka_element .przyciski {
        margin: 10px 0 10px 0;
        padding: 0;
        list-style-type: none;
    }
    .ksiazka_element .przyciski li {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }
    .ksiazka_element .przyciski a {
        display: block;
        width: 150px;
        height: 34px;
        text-indent: -2000em;
        margin: 0;
        padding: 0;
    }
    .ksiazka_element .przycisk-home {
        background: url('../images/ikony.png') no-repeat 0 0;
    }
    .ksiazka_element .przycisk-home:hover {
        background: url('../images/ikony.png') no-repeat -150px 0;
    }

    .ksiazka_element .przycisk-h {
        background: url('../images/ikony.png') no-repeat 0 -34px;
    }

    .ksiazka_element .przycisk-h:hover {
        background: url('../images/ikony.png') no-repeat -150px -34px;
    }

    .ksiazka_element .przycisk-basket {
        background: url('../images/ikony.png') no-repeat 0 -68px;
    }

    .ksiazka_element .przycisk-basket:hover {
        background: url('../images/ikony.png') no-repeat -150px -68px;
    }

    .ksiazka_element strong {
        font-size: 80%;
        border: 1px solid gray;
        padding: 5px;
    }

a.spinacz {
    padding-right: 20px;
}

a.spinacz:hover {
    background: url('../images/spinacz.png') no-repeat center right;
}


a.spinacz-maly {
    padding-right: 20px;
}

a.spinacz-maly:hover {
    background: url('../images/spinacz-maly.png') no-repeat center right;
}

.source {
    display: block;
    height: 36px;
    width: 150px;
    text-decoration: none;
    background: url('../images/ikony.png') no-repeat 0px -102px;
    text-indent: 32px;
}

.source:hover {
    background: url('../images/ikony.png') no-repeat -150px -102px;
    text-decoration: underline;
}


.instalacja {

}

    .instalacja .podpunkt {
        position: relative;
    }


    .instalacja .rysunek {
        text-align: center;
        margin: 40px 0;
    }

    .instalacja pre {
        padding: 40px;
        border: 1px solid #c3c3c3;
        background: #f5f5f5;

    }

    .instalacja ol {
        border: 1px solid #c3c3c3;
        background: #f5f5f5;
        padding: 40px 80px;
        margin: 60px;

    }

    .instalacja li {
    }



a[href="#top"] {
    display: block;
    width: 36px;
    height: 36px;
    text-indent: -2000em;
    background: url('../images/ikony.png') no-repeat 0 -138px;
    position: absolute;
    top: 0;
    right: 0;
}

a[href="#top"]:hover {
    background: url('../images/ikony.png') no-repeat -36px -138px;
}

.bestseller {
    display: none;
}

.ok-bestseller {
    width: 77px;
    height: 80px;
    margin: 20px auto 0 auto;
}

.ok-bestseller a {
    display: block;
    width: 77px;
    height: 80px;
    font-size: 36px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    background: url('../images/ikony.png') no-repeat 0 -254px;
    font-family: Courier New, monospace;
}

.ok-bestseller strong {
    display: none;
}

.ok-bestseller a:hover {
    background: url('../images/ikony.png') no-repeat -77px -254px;
    font-weight: bold;
}

table {
    margin: 0 auto;
}

td[colspan="2"] {
    text-align: center;
}

.cena {
    border: 1px solid #e0e0e0;
    width: 100px;
    margin: 0 auto;
    font-weight: bold;
}

.reklama {
    width:400px;
    margin: 80px auto;
}




.metryka {
    padding-bottom: 50px;
    position: relative;
}

	.metryka .tmp {
	    width: 100%;
	    float: right;
	    margin-left: -324px;
	}

	.metryka .plynna {
	    margin-left: 324px;
        padding-left: 40px;
	}

	.metryka .stala {
	    width: 324px;
	    float: left;
        text-align: center;
	}

    .metryka h1 {
        font-size: 90%;
        font-style: italic;
        font-family: Georgia, serif;
        font-weight: normal;
        margin-top: 0;
        padding-top: 0;
        letter-spacing: 0.2em;
    }
    .metryka h2 {
        font-size: 130%;
    }
    .metryka p {
        padding-top: 20px;
        font-size: 90%;
    }

    .metryka .przyciski {
        margin: 0;
        padding: 0;
        list-style-type: none;
	    width: 324px;
        background: red;
        position: relative;
    }
    .metryka .przyciski li {
        margin: 0;
        padding: 0;
        width: 34px;
        height: 34px;
        position: absolute;
    }
    .metryka .przyciski a {
        display: block;
        width: 34px;
        height: 34px;
        text-indent: -2000em;
        margin: 0;
        padding: 0;
    }
    .metryka .przycisk-home {
        left: 64px;
        top: 0;
        background: url('../images/ikony.png') no-repeat -58px 0;
    }
    .metryka .przycisk-home:hover {
        background: url('../images/ikony.png') no-repeat -208px 0;
    }

    .metryka .przycisk-h {
        left: 145px;
        top: 0;
        background: url('../images/ikony.png') no-repeat -58px -34px;
    }

    .metryka .przycisk-h:hover {
        background: url('../images/ikony.png') no-repeat -208px -34px;
    }

    .metryka .przycisk-basket {
        left: 226px;
        top: 0;
        background: url('../images/ikony.png') no-repeat -58px -68px;
    }

    .metryka .przycisk-basket:hover {
        background: url('../images/ikony.png') no-repeat -208px -68px;
    }

    .metryka .cena {
        width: 185px;
        margin: 10px 0 0 0 ;
        font-size: 100%;
        border: 1px solid gray;
        padding: 10px;
        text-align: center;
    }






.szkolenie {
    width: 439px;
    height: 210px;
    background: url('../images/szkolenie2.png') no-repeat;
    position: relative;
    margin: 0 auto;
}

.szkolenie h1 {
    position: absolute;
    top: 52px;
    left: 0;
    width: 439px;
    height: 47px;
    text-align: center;
    color: white;
    line-height: 47px;
    margin: 0;
    padding: 0;
    font-size: 120%;
}

.szkolenie h2 {
    position: absolute;
    top: 13px;
    left: 0px;
    width: 439px;
    height: 26px;
    text-align: center;
    color: white;
    line-height: 26px;
    margin: 0;
    padding: 0;
    font-size: 80%;
}

.szkolenie h3 {
    position: absolute;
    top: 110px;
    left: 30px;
    width: 200px;
    height: 20px;
    text-align: left;
    color: white;
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-size: 80%;
    font-weight: normal;
}

.szkolenie h3.value {
    left: 110px;
    font-weight: bold;
    font-size: 85%;
}

.szkolenie h4 {
    position: absolute;
    top: 140px;
    left: 30px;
    width: 200px;
    height: 20px;
    text-align: left;
    color: white;
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-size: 80%;
    font-weight: normal;
}

.szkolenie h4.value {
    left: 110px;
    font-weight: bold;
    font-size: 85%;
}

.szkolenie h5 {
    position: absolute;
    top: 170px;
    left: 30px;
    width: 200px;
    height: 20px;
    text-align: left;
    color: white;
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-size: 80%;
    font-weight: normal;
}

.szkolenie h5.value {
    left: 110px;
    font-weight: bold;
    font-size: 85%;
}

.szkolenie a {
    display: block;
    width: 119px;
    height: 41px;
    position: absolute;
    top: 165px;
    left: 299px;
}

.szkolenie a span {
    display: block;
    width: 119px;
    height: 41px;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -2000px;
    background: url('../images/czytaj-wiecej.png') no-repeat;
}




.o-autorze {
    position: relative;
}

.o-autorze .col-l {
    width: 200px;
    float: left;
}

.o-autorze .col-r {
    width: 600px;
    float: right;
}



.o-autorze .foto-gajdaw {
    position: absolute;
    top: 0;
    left: 0;
}

.o-autorze .foto-gajdaw img {
    border: 1px solid black;
}

.o-autorze p {

}

.o-autorze h3 {

}

.o-autorze .cert-1 {
    position: absolute;
    display: block;
    top: 205px;
    left: 0px;
}

.o-autorze .cert-2 {
    position: absolute;
    display: block;
    top: 205px;
    left: 110px;
}

.o-autorze .fb {
    position: absolute;
    display: block;
    top: 305px;
    left: 0px;
}

.o-autorze .home {
    position: absolute;
    display: block;
    top: 305px;
    left: 110px;
}