body {
    font-family: "Trebuchet MS", sans-serif;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
}

td {
    border: 1px solid black;
    padding: 10px;       
}
 
img {
    padding: 0;
    margin: 0;
    display: block;
}

h1 {
    text-align: center;
}


div {
    width: 400px;
    margin: 20px auto;
    text-align: center;
}



td img {
    cursor: pointer;
}