
        <h1>Aerosmith</h1>
        <h2>Draw the Line</h2>
        <h2>1977</h2>
        <table>
            <tr>
                <th>lp.</th>
                <th>title</th>
                <th>czas</th>
            </tr>
    
            <tr>
                <td>1.</td>
                <td>Draw the Line</td>
                <td>3:23</td>
            </tr>
        
            <tr>
                <td>2.</td>
                <td>I Wanna Know Why</td>
                <td>3:09</td>
            </tr>
        
            <tr>
                <td>3.</td>
                <td>Critical Mass</td>
                <td>4:52</td>
            </tr>
        
            <tr>
                <td>4.</td>
                <td>Get It Up</td>
                <td>4:02</td>
            </tr>
        
            <tr>
                <td>5.</td>
                <td>Bright Light Fright</td>
                <td>2:19</td>
            </tr>
        
            <tr>
                <td>6.</td>
                <td>Kings and Queens</td>
                <td>4:56</td>
            </tr>
        
            <tr>
                <td>7.</td>
                <td>The Hand That Feeds</td>
                <td>4:22</td>
            </tr>
        
            <tr>
                <td>8.</td>
                <td>Sight for Sore Eyes</td>
                <td>3:56</td>
            </tr>
        
            <tr>
                <td>9.</td>
                <td>Milk Cow Blues</td>
                <td>4:14</td>
            </tr>
        </table>