
        <h1>Bob Dylan</h1>
        <h2>Basement Tapes</h2>
        <h2>1975</h2>
        <table>
            <tr>
                <th>lp.</th>
                <th>title</th>
                <th>czas</th>
            </tr>
    
            <tr>
                <td>1.</td>
                <td>Odds and Ends</td>
                <td>1:46</td>
            </tr>
        
            <tr>
                <td>2.</td>
                <td>Orange Juice Blues (Blues for Breakfast)</td>
                <td>3:37</td>
            </tr>
        
            <tr>
                <td>3.</td>
                <td>Million Dollar Bash</td>
                <td>2:32</td>
            </tr>
        
            <tr>
                <td>4.</td>
                <td>Yazoo Street Scandal</td>
                <td>3:27</td>
            </tr>
        
            <tr>
                <td>5.</td>
                <td>Goin' to Acapulco</td>
                <td>5:26</td>
            </tr>
        
            <tr>
                <td>6.</td>
                <td>Katie's Been Gone</td>
                <td>2:43</td>
            </tr>
        
            <tr>
                <td>7.</td>
                <td>Lo and Behold</td>
                <td>2:46</td>
            </tr>
        
            <tr>
                <td>8.</td>
                <td>Bessie Smith</td>
                <td>4:17</td>
            </tr>
        
            <tr>
                <td>9.</td>
                <td>Clothesline Saga</td>
                <td>2:56</td>
            </tr>
        
            <tr>
                <td>10.</td>
                <td>Apple Suckling Tree</td>
                <td>2:48</td>
            </tr>
        
            <tr>
                <td>11.</td>
                <td>Please, Mrs. Henry</td>
                <td>2:32</td>
            </tr>
        
            <tr>
                <td>12.</td>
                <td>Tears of Rage</td>
                <td>4:11</td>
            </tr>
        
            <tr>
                <td>13.</td>
                <td>Too Much of Nothing</td>
                <td>3:01</td>
            </tr>
        
            <tr>
                <td>14.</td>
                <td>Yea Heavy and a Bottle of Bread</td>
                <td>2:13</td>
            </tr>
        
            <tr>
                <td>15.</td>
                <td>Ain't No More Cane</td>
                <td>3:57</td>
            </tr>
        
            <tr>
                <td>16.</td>
                <td>Crash on the Levee (Down in the Flood)</td>
                <td>2:03</td>
            </tr>
        
            <tr>
                <td>17.</td>
                <td>Ruben Remus</td>
                <td>3:13</td>
            </tr>
        
            <tr>
                <td>18.</td>
                <td>Tiny Montgomery</td>
                <td>2:45</td>
            </tr>
        
            <tr>
                <td>19.</td>
                <td>You Ain't Going Nowhere</td>
                <td>2:43</td>
            </tr>
        
            <tr>
                <td>20.</td>
                <td>Don't Ya Tell Henry</td>
                <td>3:12</td>
            </tr>
        
            <tr>
                <td>21.</td>
                <td>Nothing Was Delivered</td>
                <td>4:22</td>
            </tr>
        
            <tr>
                <td>22.</td>
                <td>Open the Door, Homer</td>
                <td>2:49</td>
            </tr>
        
            <tr>
                <td>23.</td>
                <td>Long Distance Operator</td>
                <td>3:39</td>
            </tr>
        
            <tr>
                <td>24.</td>
                <td>This Wheel's on Fire</td>
                <td>3:49</td>
            </tr>
        </table>