
        <h1>ABBA</h1>
        <h2>Super Trouper</h2>
        <h2>1980</h2>
        <table>
            <tr>
                <th>lp.</th>
                <th>title</th>
                <th>czas</th>
            </tr>
    
            <tr>
                <td>1.</td>
                <td>Super Trouper</td>
                <td>4:11</td>
            </tr>
        
            <tr>
                <td>2.</td>
                <td>The Winner Takes It All</td>
                <td>4:56</td>
            </tr>
        
            <tr>
                <td>3.</td>
                <td>On and on and On</td>
                <td>3:40</td>
            </tr>
        
            <tr>
                <td>4.</td>
                <td>Andante, Andante</td>
                <td>4:39</td>
            </tr>
        
            <tr>
                <td>5.</td>
                <td>Me and I</td>
                <td>4:54</td>
            </tr>
        
            <tr>
                <td>6.</td>
                <td>Happy New Year</td>
                <td>4:24</td>
            </tr>
        
            <tr>
                <td>7.</td>
                <td>Our Last Summer</td>
                <td>4:18</td>
            </tr>
        
            <tr>
                <td>8.</td>
                <td>The Piper</td>
                <td>3:26</td>
            </tr>
        
            <tr>
                <td>9.</td>
                <td>Lay All Your Love on Me</td>
                <td>4:33</td>
            </tr>
        
            <tr>
                <td>10.</td>
                <td>The Way Old Friends Do</td>
                <td>2:58</td>
            </tr>
        </table>