
        <h1>AC/DC</h1>
        <h2>Flick of the Switch</h2>
        <h2>1983</h2>
        <table>
            <tr>
                <th>lp.</th>
                <th>title</th>
                <th>czas</th>
            </tr>
    
            <tr>
                <td>1.</td>
                <td>Rising Power</td>
                <td>3:42</td>
            </tr>
        
            <tr>
                <td>2.</td>
                <td>This House Is on Fire</td>
                <td>3:23</td>
            </tr>
        
            <tr>
                <td>3.</td>
                <td>Flick of the Switch</td>
                <td>3:13</td>
            </tr>
        
            <tr>
                <td>4.</td>
                <td>Nervous Shakedown</td>
                <td>4:28</td>
            </tr>
        
            <tr>
                <td>5.</td>
                <td>Landslide</td>
                <td>3:56</td>
            </tr>
        
            <tr>
                <td>6.</td>
                <td>Guns for Hire</td>
                <td>3:24</td>
            </tr>
        
            <tr>
                <td>7.</td>
                <td>Deep in the Hole</td>
                <td>3:19</td>
            </tr>
        
            <tr>
                <td>8.</td>
                <td>Bedlam in Belgium</td>
                <td>3:53</td>
            </tr>
        
            <tr>
                <td>9.</td>
                <td>Badlands</td>
                <td>3:37</td>
            </tr>
        
            <tr>
                <td>10.</td>
                <td>Brain Shake</td>
                <td>4:09</td>
            </tr>
        </table>