
        <h1>Black Sabbath</h1>
        <h2>Eternal Idol</h2>
        <h2>1987</h2>
        <table>
            <tr>
                <th>lp.</th>
                <th>title</th>
                <th>czas</th>
            </tr>
    
            <tr>
                <td>1.</td>
                <td>The Shining</td>
                <td>5:59</td>
            </tr>
        
            <tr>
                <td>2.</td>
                <td>Ancient Warrior</td>
                <td>5:33</td>
            </tr>
        
            <tr>
                <td>3.</td>
                <td>Hard Life to Love</td>
                <td>5:00</td>
            </tr>
        
            <tr>
                <td>4.</td>
                <td>Glory Ride</td>
                <td>4:48</td>
            </tr>
        
            <tr>
                <td>5.</td>
                <td>Born to Lose</td>
                <td>3:44</td>
            </tr>
        
            <tr>
                <td>6.</td>
                <td>Nightmare</td>
                <td>5:16</td>
            </tr>
        
            <tr>
                <td>7.</td>
                <td>Scarlet Pimpernel</td>
                <td>2:07</td>
            </tr>
        
            <tr>
                <td>8.</td>
                <td>Lost Forever</td>
                <td>4:00</td>
            </tr>
        
            <tr>
                <td>9.</td>
                <td>Eternal Idol</td>
                <td>6:36</td>
            </tr>
        </table>