body {
    margin: 0;
    padding: 0;
    background: #d1a65e url('tlo.png') top center repeat-y;
    font-family: Georgia, serif;
    letter-spacing: 0.1em;
    line-height: 200%;
}
#pojemnik {
    width: 756px;
    border-left: 2px solid #724f19;
    border-right: 2px solid #724f19;
    margin: 0 auto;
    background: white url('fraszki.jpg') top center no-repeat;
}
#naglowek {
    border-bottom: 2px solid #724f19;
    margin: 0;
    padding: 300px 0 0 0;
}
#tresc {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 90%;
    background: white;
}
#stopka {
    border-top: 2px solid #724f19;
    text-align: center;
    clear: both;
    font-size: 60%;
    background: white;
}
#menuglowne {
    margin: 0;
    list-style: none;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    
    padding-top: 50px;
    padding-bottom: 50px;

}
#menuglowne li {
    display: inline;
    padding: 0;
    margin: 0;
}

#menuglowne li a {
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    white-space: nowrap;
    color: black;
}

#menuglowne li a:hover {
    text-decoration: underline;
    color: blue;
}

.czyszczenie {
    clear: both;
}


h1, h2 {
    display: none;
}

h3 {
    padding: 0 0 40px 0;
    font-size: 200%;
    width: 15em;
    margin: 0 auto;
}

p {
    width: 30em;
    margin: 0 auto;
}