body {
    background: url('tlo.png') repeat-x;            
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    
}    


ul#menu {
    width: 495px;
    height: 79px;
    background: url('sprite.png') no-repeat;
    position: relative;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

#menu li {
    margin: 0;
    padding: 0;
}

#menu li a {
    display: block;
    margin: 0;
    padding: 0;
    z-index: 99;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    color: #4e2d0e;
    position: absolute;
}

#menu li a:hover {
    text-decoration: underline;
}


#o1 {
    left: 0;
    top: 38px;
    
    width: 98px;
    height: 41px;
}


#o2 {
    left: 71px;        
    top: 38px;

    width: 111px;
    height: 41px;
    
}    


#o3 {
    left: 159px;        
    top: 38px;

    width: 103px;
    height: 41px;
}       


body#ipsum ul#menu {
   background: url('sprite.png') no-repeat 0 -79px;
}    

body#dolor ul#menu {
   background: url('sprite.png') no-repeat 0 -158px;
}        
