body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: large;
    color: black;
    background: rgb(230,230,230);
}

h1 {
    text-align: center;
    border-bottom: 4px solid black;
    width: 12em;
    margin: 0px auto;
    font-variant: small-caps;
    padding: 40px;
}

h2 {
    text-align: center;
    margin: 40px auto 100px auto;
    font-variant: small-caps;
}

#pojemnik {
    width: 900px;
    margin: 0 auto;
}

p {
    text-align: justify;
    text-indent: 2em;
    line-height: 160%;
    margin-bottom: 40px;
    padding: 0 150px;
}

.fiszka {
    text-indent: 0;
    width: 130px;
    float: left;
    font-size: 60%;
    font-family: "Trebuchet MS", sans-serif;
    letter-spacing: 0.2em;
    text-align: right;
    border: 1px solid black;
    background: white;
    padding: 10px 5px;
    margin: 0;
}