#popup {
    display: none;
    position: absolute;
    background: transparent;
    border: none;
    text-align: center;
    z-index: 50;
    padding: 2px;
    background: black;
}

#popup img {
    margin: 0;
    padding: 0;
    border: none;
}