body {
    font-family: Georgia, serif;
    line-height: 200%;
}

h1 {
    text-align: center;
    margin: 40px;
}

h2 {
    text-align: center;
    margin: 40px;
}

p {
    width: 80%;
    text-align: justify;
    margin: 0 auto;
}

#koniec {
    padding-bottom: 120px;
}

dl {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    border-top: 1px solid gray;
    padding-top: 120px;
}

.gwiazdka {
    width: 80%;
    text-align: center;
    padding: 30px;
    font-size: 200%;
    font-weight: bold;
}

dt {
    font-weight: bold;
    letter-spacing: 0.2em;
}

dd {
    margin-bottom: 40px;
    padding-bottom: 200px;
}