body {
    background: #e2fef3;
    margin: 100px;
}

.gwiazdki {
	width: 200px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: 2px solid blue;
}

.gwiazdki a {
	width: 40px;
	height: 40px;
	background: url('gwiazda-off.png');        
	display: block;
	float: left;
	text-indent: -2000em;
}