body {
    font-family: "Comic Sans MS", sans-serif;
    line-height: 200%;
    font-size: 160%;
    margin: 100px 150px;
    background: rgb(255,215,255);
    color: rgb(0,0,108);
}

h1 {
    text-align: center;
}

h2 {
    font-style: italic;
    text-align: center;
}

h3 {
    margin-top: 150px;
    margin-left: 100px;
}

a {
    margin: 20px;
    font-size: 80%;
}