body {
    font-family: Georgia, serif;
    line-height: 200%;
}

h1 {
    text-align: center;
    margin: 40px;
}

h2 {
    text-align: center;
    margin: 40px;
}

p {
    width: 80%;
    text-align: justify;
    margin: 0 auto;
}

.gwiazdka {
    width: 80%;
    text-align: center;
    padding: 30px;
    font-size: 200%;
    font-weight: bold;
}

#popup {
    position: absolute;
    background: #d2f1fb;
    border: 2px solid #0a556b;
    padding: 10px;
}
#popup h3 {
    text-align: center;
}
.przypis .tekst {
    color: blue;
    text-decoration: underline;
    font-size: 160%;
    cursor: pointer;

}
.przypis .wyraz {
    display: none;
}
.przypis .opis {
    display: none;
}
dd {
    padding-bottom: 200px;
}
