body {
    font-family: Georgia, serif;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 20px auto;
    width: 50%;
}

td {
    border: 1px solid black;
    padding: 5px;
}

th {
    border: 1px solid black;
    padding: 5px;
    background: black;
    color: white;
}

.kolor {
    background: #edceaf;
}

