body {
	font-family: Verdana, Arial, sans-serif;
}

body > div {
	width: 500px;
	margin: 0 auto;
	background-color: #eee;
	padding: 20px;
	margin-top: 100px;
	border-radius: 20px;

	-webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}
